In [1]:
import pandas as pd
import os

In [2]:
PATH = os.getcwd()

In [3]:
dfs = []
for f in os.listdir(PATH):
    f_n,f_ext = os.path.splitext(f)
    if(f_ext == ".csv"):
        dfs.append(pd.read_csv(f))
print(len(dfs))

5

In [8]:
dfs[4]

,Title,Ticket sales (est.),Year,Ref
0,Spirited Away,45595221,2001,[r]
1,Your Name,44342412,2016,[s]
2,Pokémon: The First Movie,36837706,1998,[t]
3,Demon Slayer: Kimetsu no Yaiba the Movie: Muge...,32963398,2020,[u]
4,Weathering with You,22668643,2019,[v]
5,Stand by Me Doraemon,22660474,2014,[w]
6,Howl's Moving Castle,21943336,2004,[x]
7,Pokémon: The Movie 2000,19503160,2000,[y]
8,Ponyo,18101454,2008,[z]
9,Dragon Ball Super: Broly,16227175,2018,[aa]
10,Princess Mononoke,16214830,1997,[ab]
11,Detective Conan: The Fist of Blue Sapphire,14433977,2019,[ac]
12,The Secret World of Arrietty,12415730,2012,[ad]
13,The Wind Rises,11851749,2013,[ae]
14,Pokémon 3: The Movie,10072449,2001,[af]
15,Digimon: The Movie,6546909,2000,[ag]
16,Evangelion: 3.0+1.0 Thrice Upon a Time,4513374,2021,[ah]
17,Yu-Gi-Oh! The Movie,4436708,2004,[ai]
18,Akira,2895717,1988,[aj]